.cancel-btn {
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #198754;
}

.cart-container {
  height: 45rem;
}

.order-list {
  border: 1px solid #ddd;
  border-radius: 10px;
}
